@page
@model Hormona.App.Pages_BDPacientes.AsignarPediatraModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Paciente.id">
    <h1>Asignar Pediatra</h1>
    <table class="table table=bordered">
        <thead >
            <tr>
            <th scoope="col">Nombre</th>
            <th scoope="col">Apellidos</th>
            <th scoope="col">Telefono</th>
            <th scoope="col">Sexo</th>
            <th scoope="col">Codigo</th>
          
            </tr>
        </thead>
        @foreach (var pediatra in Model.Pediatras){
            <tbody>
                <tr>
                    <td>@pediatra.nombre</td>
                    <td>@pediatra.apellido</td>
                    <td>@pediatra.telefono</td>
                    <td>@pediatra.sexos</td>
                    <td>@pediatra.codigo</td>
                    <td>@pediatra.registro</td>
                    <td>
                        <input type="checkbox" name="pediatraid" value="@pediatra.id"/>
                    </td>
                </tr>
            </tbody>
        }
        
    </table>
    <button type="submit" class="btn btn-primary" asp-page-handler="ToAssign">Asignar</button>
</form>
