@page
@model Hormona.App.Pages_BDFamiliar.IndexModel
@{
}
<h1>Lista de familiares</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefeno</th>
            <th scope="col">Sexo</th>
            <th scope="col">Documento</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Email</th>
            <th scope="col">Opciones<a asp-page="./Create">
                    <span class="material-icons">person_add</span></a></th>


        </tr>
    </thead>
    @foreach (var familiar in Model.familiares)
    {
        <tbody>
            <tr>
                <td>@familiar.nombre</td>
                <td>@familiar.apellido</td>
                <td>@familiar.telefono</td>
                <td>@familiar.sexos</td>
                <td>@familiar.documento</td>
                <td>@familiar.parentesco</td>
                <td>@familiar.email</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@familiar.id">
                        <span class="material-icons">description</span></a>
                    <a asp-page="./Edit" asp-route-id="@familiar.id">
                        <span class="material-icons">edit</span></a>
                    <a asp-page="./Delete" asp-route-id="@familiar.id">
                        <span class="material-icons">delete</span></a>
                </td>
            </tr>

        </tbody>

        {
        }
    }
</table>
