@page
@model Hormona.App.Pages_MPacientes.DetailsModel
@{
}
<h1>Details</h1>
<div>
    <h4>Paciente</h4>
    <d1 class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Paciente.nombre</dd>
         <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Paciente.apellido</dd>
         <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.Paciente.telefono</dd>
         <dt class="col-sm-2">Sexo</dt>
        <dd class="col-sm-10">@Model.Paciente.sexos</dd>
         <dt class="col-sm-2">Fecha de Nacimineto</dt>
        <dd class="col-sm-10">@Model.Paciente.fechaDeNacimineto</dd>
         <dt class="col-sm-2">Documento</dt>
        <dd class="col-sm-10">@Model.Paciente.documento</dd>
         <dt class="col-sm-2">Latitud</dt>
        <dd class="col-sm-10">@Model.Paciente.latitud</dd>
         <dt class="col-sm-2">Longitud</dt>
        <dd class="col-sm-10">@Model.Paciente.longitud</dd>








    
    </d1>
</div>
