@page
@model Hormona.App.Pages_BDPediatras.IndexModel
@{
}
<h1>Lista de Pediatras</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefeno</th>
            <th scope="col">Sexo</th>
            <th scope="col">Opciones<a asp-page="./Create">
                    <span class="material-icons">person_add</span></a></th>


        </tr>
    </thead>
    @foreach (var pediatra in Model.pediatras)
    {
        <tbody>
            <tr>
                <td>@pediatra.nombre</td>
                <td>@pediatra.apellido</td>
                <td>@pediatra.telefono</td>
                <td>@pediatra.sexos</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@pediatra.id">
                        <span class="material-icons">description</span></a>
                    <a asp-page="./Edit" asp-route-id="@pediatra.id">
                        <span class="material-icons">edit</span></a>
                    <a asp-page="./Delte" asp-route-id="@pediatra.id">
                        <span class="material-icons">delete</span></a>
                        <a href="BDPediatras/ListPacientes"><span class="material-icons">summarize</span></a>
                </td>
            </tr>

        </tbody>

        {
        }
    }
</table>
